certifi==2018.4.16
chardet==3.0.4
Click==7.0
python-dotenv==0.10.1
firebase-admin==2.16.0
Flask==1.0.2
future==0.16.0
gunicorn==19.9.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
line-bot-sdk==1.8.0
MarkupSafe==1.0
requests==2.18.4
urllib3==1.26.5
Werkzeug==0.14.1